@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");

.app {
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  font-family: "Montserrat", sans-serif;
}
.app__body {
  display: flex;
  margin-top: 35px;
  max-width: 1200px;
  margin-left: 20px;
  margin-right: 20px;
}
